{% set entries = craft.entries.section('home').all() %}

{% for entry in entries %}
{% if entry.showFeaturedSection == true %}  
    {% set assetQ = entry.backgroundImage %}
    {% set images = assetQ.all() %}
    {% if images|length %}
    {% for img in images %}
        
    
<section class="font-serif w-full bg-contain bg-white text-center flex items-center justify-center font-serif p-12 bg-no-repeat" style="background:url({{ img.url }});"> 
    {% endfor %}    
    {% endif %}
  <div class="container m-auto flex flex-wrap max-w-xl">
    <div class="flex flex-wrap w-full md:w-1/2 items-start py-4"> 

            {% set color = entry.textColor.value %}
      <h2 class="mb-4 text-4xl {{ color }} italic">&ldquo;{{ entry.headline }}&rdquo;</h2>
      <p class="leading-normal xs:text-base md:text-2xl {{ color }} text-left tracking-loose my-8">
        {{ entry.synopsis |nl2br }}
      </p>


      {% for block in entry.ctaButton.all() %}
          {% if block.type == "buttonBlock" %}
            <a href="{{ block.buttonUrl }}" target="_blank">
              <button class="bg-red-darker shadow hover:bg-white text-white font-semibold hover:text-red-darker py-2 text-xl rounded px-8 border-white border hover:border-red-darker">
                {{ block.buttonCopy }}
              </button>
            </a>
          {% endif %}
      {% endfor %}
    </div>

    {% set blocks = entry.coverMatrix %}
    {% set matrixBlocks = blocks.one() %}
        {% for block in blocks.all() %}
          {% set coverImage = block.coverImage.all() %}          
          {% for asset in coverImage %}
            {% if asset %}
              <div class="md:w-1/2 xs:px-10 sm:px-32 md:px-8 md:pl-16">
                <img src="{{ asset.getUrl }}" alt="image" class=" shadow-md">
              </div>
            {% endif %}
          {% endfor %}
  </div>    

        {% endfor %} 

</section>
{% endif %}
{% endfor %}


