{% extends '_base.twig' %}


{% block body %}


<div class="p-6">
	<div class="max-w-2xl m-auto">
		<div class="flex justify-center">
			<div class="border-b-4 border-red-darkest max-w-5xl px-12">
				<h1 class="text-5xl text-center py-2 tracking-wide uppercase">{{ entry.title }}{% if entry.date %}:
					Coming  {{ entry.date |date('long')}}
				{% endif %}
				</h1>
				<h2 class="text-center font-normal text-2xl mb-2">
					{{ journeyGlobals.stateTagline }}
				</h2>

				<h3 class="text-center font-normal text-xl italic mb-4">
					{{ journeyGlobals.stateCta }} 
				</h3>
			</div>
		</div>
		<div class="flex flex-wrap">
			
			<div class="w-full lg:w-1/2 my-12 pr-12">
				{% for block in entry.videoMatrix.all() %}
					<div class="">	
						<div class="flex flex-wrap">
							<div class="mb-2">
								<h2 class="text-4xl">
									{{ block.videoTitle }}
								</h2>
							</div>

							{% css %}
								.videoWrapper {
									position: relative;
									padding-bottom: 56.25%; /* 16:9 */
									padding-top: 25px;
									height: 0;
								}
								.videoWrapper iframe {
									position: absolute;
									top: 0;
									left: 0;
									width: 100%;
									height: 100%;
									background: teal;
								}
							{% endcss %}
									
							<div class="pt-2 h-0 w-full">
							    <!-- Copy & Pasted from YouTube -->
							    <iframe class=" pin-t pin-l w-full h-80" src="https://www.youtube.com/embed/{{ block.youTubeId|raw }}" allowfullscreen></iframe>
							</div>

							<div class="pt-2 text-2xl leading-tight mb-16">
								{{ block.videoDescription }}</div>

							</div>

						</div> 
					
				{% endfor %}
			</div>	
		
		
			<div class="w-full lg:w-1/2 my-12 pr-12">

				{% set title = entry.photoMatrix.all() %}
				{% if title|length %}
					<div class="mb-4">
						<h2 class="text-4xl">
							Photo gallery
						</h2>
					</div>
				{% endif %}
				<div class="flex-wrap flex mb-4">
				  {% for block in entry.photoMatrix.all() %}

						 <div class="flex">
						 	{% for photo in block.photo.all() %}
						  
						  <div class="w-32 text-lg text-center mr-4 mb-4">
							<a data-fancybox="gallery" data-caption="{{ block.caption }}" href="{{ photo.getUrl('galleryFull') }}" class="no-underline hover:text-red text-black">
						   	<img src="{{ photo.getUrl('galleryThumbSmall') }}" alt="{{ block.caption }}" title=" {{ block.caption }}">
								<br> {{ block.caption }}
						  </div>
						  
						  {% endfor %}
						</div>
				    
				  {% endfor %}
				</div>

				{% set title = entry.mediaMatrix.all() %}
				{% if title|length %}
					<div class="mb-4 mt-8">
						<h2 class="text-4xl">
							Media
						</h2>
					</div>	
				{% endif %}

				<div class="flex flex-wrap">

					{% for block in entry.mediaMatrix.all() %}
						{% for logo in block.logo.all() %}
							<div class="flex flex-col w-1/4">
								<div class="my-auto w-32">
									<a href="{{ block.mediaUrl }}" target="_blank">
										<img src="{{ logo.getUrl('galleryThumbSmall') }}" alt="{{ block.mediaName }}" title="{{ block.mediaName}}">
									</a>
								</div>
								<div class="text-center text-xl pb-4">
									<a href="{{ block.mediaUrl }}" target="_blank" class="no-underline text-red-darker hover:text-red-darkest">
										{{ block.mediaName }}
									</a>
								</div>	

							</div>

						{% endfor %}
					{% endfor %}
				</div>	

				<div class="my-8">
					
				{% set title = entry.libraryList %}
					{% if title|length %}
						<div class="">
							<h2 class="font-bold text-4xl my-2">
								Libraries 
							</h2>
						</div>
					{% endif %}

					{% for row in entry.libraryList %}

						<li class="list-reset text-2xl">
							<a href="{{ row.libraryUrl }}" class="no-underline text-red-darker hover:text-red-darkest" target="_blank">
								{{ row.libraryName }}
								</a> 
								{% if row.acceptedBook == true %} 
							{% elseif row.acceptedBook == false %}
								(Processing)
							{% endif %}
						</li>
					{% endfor %}
					
				</div>
			</div>
			</div> {# end 1/2 #}
		
		
			

		</div>
</div>






{% endblock %}